
<div class="container">
    <h1>
        {{ pageTitle }}!
    </h1>



    <!-- ngIf version -->
    <h2 class="mt-5">Modal with *ngIf</h2>
    <button class="btn btn-primary" (click)="onModalShow()">
        Show modal
    </button>

    <app-modal 
        [title]="titleText" 
        [body]="bodyText" 
        *ngIf="showModal" 
        (close)="onModalClose()">
    </app-modal>



    <!-- DYNAMIC version -->
    <h2 class="mt-5">Modal as a dynamic component</h2>
    <button class="btn btn-primary" (click)="onShowDynamicModal()">
        Show modal (dynamic component)
    </button>

    <!-- dynamic component placeholder - appPlaceholder directive -->
    <ng-template appPlaceholder></ng-template>
            
</div>